

.list-menu {
  background-color: gray;
  margin: 0;
  padding: 0;
}
.list-menu-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
}
.to-do-app {
  background-color: lightgrey;
}
.add-button, .add-button:focus {
  border: none;
  background-color: gray;
  font-size: 30px;
}
.add-button:hover{
  background-color: darkgray;
}
.tasks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
.top-border {
  border-top: 3px solid black;
}